body, html{
	margin:0;
	padding:0;
	height:100%;
	overflow-x:hidden;
}
#title{
	font-family: Lato;
	font-weight:900;
	font-size:70px;
	text-align:center;
	height:10%;
	margin-top:5%;
	margin-bottom:5%;
}
#liste{
	height:80%;
	min-height:500px;
	font-family: Lato;
	list-style:none;
	margin:0;
	padding:0;
}
#liste li{
	margin: 0 auto;
	background: #E74C3C;
	width:80px;
	height:80px;
	float:left;
	background: #e74c3c;
}
#liste li:hover{
	background: #C0392B;
}
#liste li a{
	padding-top:10px;
	color:white;
	display: block;
	font-weight:700;
	font-size:40px;
	width:80px;
	height:70px;
	text-decoration:none;
	text-align:center;
}

#letter{
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-family: Lato;
	height: 100%;
	list-style: none;
	margin:0;
	padding:0;
	color: #ecf0f1;
	margin-top:80px;
}
#letter h1{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-weight: 900;
	font-size:75px;
	text-align: center;
	margin:20px;
}
#letter h1:before{
}
#letter h1:after{
}
#letter li{
	width:300px;
	height:150px;
	margin:10px;
	float:left;
	text-align: center;
}
#letter div {
	width:640px;
	margin: 0 auto;
}

#letter h2{
	font-weight: 900;
	font-size: 30px;
}
#letter h2:before{
	content: open-quote;
}
#letter h2:after{
	content: close-quote;
}

#letter p{
	font-weight: 400;
}

.red{
	background: #e74c3c;
}
.red div li{
	background: #C0392B;
}
.blue{
	background: #3498db;
}
.blue div li{
	background: #2980b9;
}
.turquoise{
	background: #1abc9c;
}
.turquoise div li{
	background: #16a085;
}
.green{
	background: #2ecc71;
}
.green div li{
	background: #27ae60;
}
.blue{
	background: #3498db;
}
.blue div li{
	background: #2980b9;
}
.purple{
	background: #9b59b6;
}
.purple div li{
	background: #8e44ad;
}
.darkblue{
	background: #34495e;
}
.darkblue div li{
	background: #2c3e50;
}
.yellow{
	background: #f1c40f;
}
.yellow div li{
	background: #f39c12;
}
.orange{
	background: #e67e22;
}
.orange div li{
	background: #d35400;
}
.gray{
	background: #bdc3c7;
	color: black;
}
.gray div li{
	background: #ecf0f1;
	color:black;
}
.gray h1{
	color:white;
}

::-moz-selection { background: #A10; color: #fff; text-shadow: none; }
::selection { background: #A10; color: #fff; text-shadow: none; }

@media only screen and (max-width: 320px) {
	
	#title{
		font-size:40px;
		height:auto;
	}
	#liste{
		width: 100%;
		height:auto;
	}
	#liste li {
		width: 25%;
		height: 25%;
		text-align:center;
	}
	#letter{
		height:auto;
		width:100%;
		overflow:auto;
	}
	#letter div{
		width:100%;
	}
	#letter div li{
		width:100%;
		margin:0;
		margin-bottom:20px;
	}

}
@media only screen and (min-width: 321px) {
	
	#title{
		font-size:35px;
	}
	#liste{
		width:70%;
		margin: 0 auto;
		height:auto;
		overflow:auto;
		margin-bottom:50px;
	}
	#liste li {
		width: 25%;
		height: 25%;
	}
	#letter {
		height:auto;
		overflow:auto;
		clear:both;
	}
	#letter div{
		width:320px;
	}

}

@media only screen and (min-width: 768px) {
	
	#title{
		font-size:53px;
	}

	#liste{
		width: 500px;
		margin: 0 auto;
		height:100%;
	}
	#liste li {
		margin: 0 auto;
		width: 80px;
		height: 80px;
	}
	#letter {
		min-height: 100%;
	}
	#letter div{
		width:640px;
		margin: 0 auto;
		min-height:100%;
	}

}
